<div class="container">
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="card announcement">
                <div class="card-body">
                    <h5 class="card-title">Weekly Announcements</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card announcement">
                <div class="card-body">
                    <h5 class="card-title">Cadre Calendly Links</h5>
                    <p class="card-text">Lieutenant Colonel Arellanes<a class=""> link</a></p>
                    <p class="card-text">Captain E. Glenn<a class=""> link</a></p>
                    <p class="card-text">Captain M. Glenn<a class=""> link</a></p>
                    <p class="card-text">Captain Hazel<a class=""> link</a></p>
                    <p class="card-text">Staff Sergeant Cadd<a class=""> link</a></p>
                    <p class="card-text">Staff Sergean Jackson<a class=""> link</a></p>
                </div>
            </div>
        </div>
    </div>
</div>