<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Week</th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <th></th>
                    <th></th>
                    <td>LLAB 0600 - 0750</td>
                    <td>PT 0620 - 0720</td>
                    <td>PT 0620 - 0720</td>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th></th>
                    <th></th>
                    <td>LLAB 0600 - 0750</td>
                    <td>PT 0620 - 0720</td>
                    <td>PT 0620 - 0720</td>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th></th>
                    <th></th>
                    <td>LLAB 0600 - 0750</td>
                    <td>PT 0620 - 0720</td>
                    <td>PT 0620 - 0720</td>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th></th>
                    <th></th>
                    <td>LLAB 0600 - 0750</td>
                    <td>PT 0620 - 0720</td>
                    <td>PT 0620 - 0720</td>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>